<div class="head-section">
  <div class="home-page-text">
    <h3>Welcome to Appointments!</h3>
    <div class="home-page-container">
      <ul>
        <li>
          <%= link_to 'schedule appointments', patients_path, class:'home-container waves-effect waves-light btn-large' %>
        </li>
        <br>
        <li>
          <%= link_to 'view appointments', appointments_path(@appointments), class:'home-container waves-effect waves-light btn-large' %>
        </li>
        <br>
        <li>
          <%= link_to "Add new staff", new_scheduler_path, class:'home-container waves-effect waves-light btn-large' %>
        </li>
      </ul>
    </div>
  </div>
</div>


