<div class="head-section">
  <div class="home-page-text">
    <h3>Welcome to Appointments!</h3>
    <div class="home-page-container">
      <ul>
        <li class="home-container waves-effect waves-light btn-large">
          <%= link_to 'Click here to schedule appointments', patients_path %>
        </li>
        <br>
        <br>
        <li class="home-container waves-effect waves-light btn-large">
          <%= link_to 'Click here to view appointments', appointments_path(@appointments) %>
        </li>
        <br>
        <br>
        <li class="home-container waves-effect waves-light btn-large">
          <%= link_to "Add new staff", new_scheduler_path %>
        </li>
      </ul>
    </div>
  </div>
</div>


