<div class="appointment">
  <h3>Patient Lists</h3>
  <div class="container">
    <% @patients.each do |patient| %>
        <p> <%= patient.name %> <%= link_to 'create appointment', patient_path(patient) %> </p>
    <% end %>
    <%= link_to 'Add new patient', new_patient_path %>
  </div>
</div>
