Appointment Notification for <%= @patient.name %>
=================================================

This is to notify you that you have been scheduled for appointment in our hospital. The details of the appointment is written below:
Patient Name: <%= @patient.name %> <br>
Staff to See:
Appointment Details:

Call <a href="tel:+2347034578604">+234-703-457-8604</a> to confirm your appointment before the scheduled date.

We hope to see you healthy always!