html, body, p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
//.container {
//  text-align: center;
//}
header nav {
  background-color: #006EBD;
}
.nav-text {
  font-family: 'Lobster', cursive;
  font-size: 200%;
  padding-left: 20px;
}
header h3, .home-page-text > h3 {
  line-height: 64px;
  margin: 0 20px 0;
}
.home-page-text > h3 {
  position: relative;
  top: 150px;
}
.head-section{
  background: url('http://i.imgur.com/sz3s6mF.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: #ffffff;
}
.container {
  height: auto;
  width: 50vw;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto 0px auto;
  h3, h5 {
    text-align: center;
    padding-top: 15px;
  }
}
.home-page-container {
  margin: 200px auto 0 auto;
  li {
    color: #ffffff;
  }
}
.card-container, .form {
  background-color: #a9d8f0;
}
.link-container, .home-container {
  background-color: #006EBD;
}
.home-container {
  margin: auto;
}
select {
  display: block;
}
.home-container > input {
  background-color: #006EBD;
  color: #000000;
  border: 0;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #006EBD;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #006EBD;
  box-shadow: 0 1px 0 0 #006EBD;
}
.home-container {
  margin-top: 10px;
}
.home-container:hover, .home-container:focus, .home-container:active, .link-container:hover, .link-container:focus, .link-container:active {
  background-color: #006EBD;
}

.error-validation{
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  padding: 10px;
  ul{
    color: red;
  }
}