html, body, p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.container {
  text-align: center;
}
header nav {
  background-color: #006EBD;
}
header h3 {
  line-height: 64px;
  margin: 0 20px 0;
}
body > img {
  height: 35vh;
  width: 100vw;
}
.patients {
  height: 80vh;
  width: 50vw;
  border-radius: 10px;
  margin: 0 auto;
  h3 {
    text-align: center;
    padding-top: 15px;
  }
}
.card-container {
  background-color: #a9d8f0;
}
.link-container, .home-container {
  background-color: #006EBD;
}
.home-container {

}
select {
display: block;
}