<div class="appointment">
  <div class="container">
    <% @appointments.each do |appointment| %>
        <p> <%= appointment.reason %> </p>
        <p> <%= appointment.scheduler %> </p>
        <p> <%= appointment.appointment_details %> </p>
    <% end %>
  </div>
</div>